body{
    margin: 0px;
    filter:brightness(0.8)
}
.main{
    background-color: #050210;
    width: 1000px;
    height: 600px;
    margin: 20px auto;

}
.first-c{
    border: 1px solid;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 500px;
    top: 150px;
    animation-name: anime;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;

}
.first-c::after{
    content: "";
    border: 1px solid;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 25px;
    top: 25px;
    animation-name: anim;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;

}
@keyframes anime{
    0%{
        background: linear-gradient(to top right,#fb5dad 10%, #55fb9aff 25%, #55fb9aaf 35%,#b97aff 45%);
       box-shadow: 0px 0px 60px 10px #fb5dad;

}
50%{
    background: linear-gradient(to bottom right,#fb5dad 10%, #55fb9aff 55%, #55fb9aaf 70%,#b97aff 85%);
    box-shadow: 0px 0px 60px 10px #55fb9aaf;

}
100%{
    background: linear-gradient(to top left,#fb5dad 10%, #55fb9aff 80%, #55fb9aaf 85%,#b97aff 90%);
    box-shadow: 0px 0px 60px 10px #b97aff;
  
}
}
@keyframes anim{
    
   0%{
    background: radial-gradient(at center, #0d062b 5%, #0d0420 20%, #020108 30%)
   }
   50%{
    background: radial-gradient(at center, #0d062b 40%, #0d0420 50%, #020108 60%)
   }
   100%{
    background: radial-gradient(at center, #0d062b 70%, #0d0420 80%, #020108 90%)
   }

}
